/* login styling */
.login-container {
  display: flex;
  min-height: 700px;
  max-width: 680px;
}

.login-form {
  max-width: 400px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 32px;
  background: #519af4;
  color: #2f1296;
  border-radius: 50px;
}

.login-form input {
  border: 10px solid #2f1296;
  background-color: rgba(145, 217, 245, 0.6);
  color: #2f1296;
} 

/* App login button */
.login-button {
  padding: 8px 10px;
  background: #8fedf8;
  color: #2f1296;
  border-radius: 6px;
  font-weight: bold;
  border: 10px solid #2f1296;
}

.login-button:hover {
  background-color: #fff;
  color: #2f1296;
}

/* App removedata button */
.removedata-button {
  padding: 8px 10px;
  background-color: #c6f7fb;
  color: #060505;
  border-radius: 6px;
  font-weight: bold;
  border: 10px solid #2f1296;
}

.removedata-button:hover {
  background-color: #2f1296;
  color: #fff;
}

.login-button:active,
.removedata-button:active{
  transform: scale(.98);
}

.register-btn {
  border: 10px solid #2f1296;
  background: #8fedf8;
  color: #2f1296;
  text-decoration: none;
  border-radius: 6px;
  padding: 4px 10px;
}

.register-btn:hover {
  background-color: #fff;
  color: #2f1296;
}