/* containers  */

.container {
  padding: 50px;
  background-color: #a6e1f8;
  border-radius: 750px;
  display: flex;
  /* flex-direction:row; */
  flex-direction:column;
  /* flex-direction:row-reverse; */
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

 .image {
  background-image: url("components/Containers_React/time-management.jpg");
  width:200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 

.container .container-columnb {
  text-align: center;
  padding: 16px 0;
  border-bottom: 2px solid rgba(11, 6, 6, 0.1);
  padding-bottom: 30px;
}

.container .register {
  padding: 50px;
  background-color: #4fc8f8;
  border-radius: 750px;
  display: flex;
  /* flex-direction:row; */
  flex-direction:column;
  /* flex-direction:row-reverse; */
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}


.container .register .mngmnt-btn{
  padding: 50px;
  background-color: #60dbf9;
  border-radius: 750px;
  display: flex;
  /* flex-direction:row; */
  flex-direction:column;
  /* flex-direction:row-reverse; */
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}

.container .register .disabledfield{
  padding: 50px;
  background-color: #60dbf9;
  border-radius: 750px;
  display: flex;
  /* flex-direction:row; */
  flex-direction:column;
  /* flex-direction:row-reverse; */
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}



.container .register .mngmnt-btn:hover{

  background-color: #3bc1f6;
}


.container .container-columnb .mngmnt-btn {
  padding: 10px 12px;
  border: none;
  margin: 13px 12px 12px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #2f1296;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.container .container-columnb .mngmnt-btn:focus {
  outline: none;
}

.container .container-columnb .mngmnt-btn:active {
  transform: scale(.98);
}

.container-columnb,
.container-columna {
  flex: 1;
  width: 100%;
  margin: 1rem;
}

.container-columnb {
  text-align: center;
  /* row-gap: 20px; */
}

/* .container-columna .removedata-all-btn {
  cursor: pointer;
  background-color: rgba(32, 235, 116, 0.1);
  color: #2f1296;
} */

.container .removedata-all-btn {
  cursor: pointer;
  background-color: rgba(32, 235, 116, 0.1);
  color: #2f1296;
}

.container .removedata-all-btn:hover {
  cursor: pointer;
  background-color: rgba(32, 235, 116, 0.1);
  color: #2f1296;
}

.container .removedata-all-btn:active {
  transform: scale(0.98);
}


.container-columna .mngmnt-statistics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.statistics-container {
  background-color: #fff;
  flex: 1;
  padding: 12px 16px;
  border-radius: 8px;
}

.statistics-btn {
  background-color: #2f1296;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
}

.tablechartviewicon {
  border-radius: 50%;
  padding: 4px;
}

.tablechartviewicon.active {
  transform: scale(.98);
}

@media (min-width: 360px) {
  .container-columna .mngmnt-statistics {
    flex-direction: row;
  }

  .statistics-container {
    padding: 8px;
  }
}

@media (min-width: 480px) {
  .statistics-container {
    padding: 14px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 40px 50px;
    flex-direction: row;
  }

  .container .container-columnhellouser {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }
  .container .container-columnb {
    border: none;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
  }

  .container .container-columna {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }
}