/* App styling */
body {
    font-family: 'ADLaM Display', sans-serif;
    padding: 50px;
    background: #baecf8;
}

.app {
    max-width:2048px;
    margin:none;
    min-height: calc(100vh - 2*50px);
    padding: 32px 32px;
    background-image: #5d7892a6;
    color: #2f1296;
    border-radius: 50px;
}

/* .test {
    color: #2f1296;
    border-radius: 50px;
} */